.button {
    /*padding: 20px 40px;*/
    box-sizing: border-box;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    /*min-width: 131px;*/
    background-color: transparent;
    font-family: 'Inter', sans-serif;
}

/*.buttonWithIcon {*/
/*    !*min-width: 163px;*!*/
/*}*/

button img {
    margin: 0 8px 0 0;
}

.solidViolet {
    background-color: #94368D;
    color: white;
}

.solidViolet:hover {
    background-color: #85317F;
}

.solidViolet:active {
    background-color: #762B71;
}

.outlineViolet {
    border: 1px solid #94368D;
    color: #94368D;
}

.outlineViolet:hover {
    border: 1px solid #CA9BC6;
    color: #94368D;
}

.outlineViolet:active {
    border: 1px solid #DFC3DD;
    color: #762B71;
}

.flatViolet {
    background: none;
    color: #94368D;
}

.flatViolet:hover {
    background: #FFFFFF;
}

.flatViolet:active {
    background: #FFFFFF;
}

.solidYellow {
    background-color: #FFB71B;
    color: #0F0F0F;
}

.solidYellow:hover {
    background-color: #E6A518;
}

.solidYellow:active {
    background-color: #CC9216;
}

.flatBlack {
    color: #0F0F0F;
    font-weight: 400;
}

.buttonXs {
    padding: 6px 12px;
    min-width: 68px;
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.buttonS {
    padding: 8px 16px;
    min-width: 83px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.buttonM {
    padding: 12px 24px;
    min-width: 99px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.buttonL {
    padding: 16px 32px;
    min-width: 115px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.buttonXl {
    padding: 20px 40px;
    min-width: 131px;
    height: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.solidWhite {
    background-color: #FFFFFF;
    color: #0F0F0F;
}

.solidWhite:hover {
    background-color: #F5F5F5;
}

.solidWhite:active {
    background-color: #DBDBDB;
}

.solidGreen {
    background-color: #00AF9E;
    color: #FFFFFF;
}

.solidGreen:hover {
    background-color: #009E8E;
}

.solidGreen:active {
    background-color: #008C7E;
}

.solidRed {
    background-color: #CF3642;
    color: white;
}

.solidRed:hover {
    background-color: #BA313B;
}

.solidRed:active {
    background-color: #A62B35;
}

.outlineRed {
    border: 1px solid #CF3642;
    color: #CF3642;
}

.outlineRed:hover {
    border: 1px solid #E79BA1;
    color: #CF3642;
}

.outlineRed:active {
    border: 1px solid #F1C3C6;
    color: #CF3642;
}

.flatRed {
    color: #CF3642;
}

.flatRed:hover {
    background-color: #FFFFFF;
}

.flatRed:active {
    background-color: #FFFFFF;
}


.outlineBlack {
    border: 1px solid #0F0F0F;
    color: #0F0F0F;
}

.outlineBlack:hover {
    border: 1px solid #C2C2C2;
}

.outlineBlack:active {
    border: 1px solid #DBDBDB;
}

.outlineWhite {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.outlineWhite:hover {
    border: 1px solid #C2C2C2;
}

.outlineWhite:active {
    border: 1px solid #DBDBDB;
}

.outlineGreen {
    border: 1px solid #00AF9E;
    color: #00AF9E;
}

.outlineGreen:hover {
    border: 1px solid #80D7CF;
}

.outlineGreen:active {
    border: 1px solid #B3E7E2;
}

.flatGreen {
    color: #00AF9E;
}

.flatGreen:hover {
    background-color: #FFFFFF;
}

.flatGreen:active {
    background-color: #FFFFFF;
}

.flatWhite {
    color: #FFFFFF;
}

.flatWhite:hover {
    background-color: #424242;
}

.flatWhite:active {
    background-color: #292929;
}

.flatBlack {
    color: #292929;
}

.flatBlack:hover {
    background-color: #FFFFFF;
}

.flatBlack:active {
    background-color: #FFFFFF;
}


/*todo classes как показано ниже*/

/* red */
.solid {
    background: #94368D;
    color: white;
}

.outline {
    border: 1px solid #94368D;
    color: #94368D;
}

.flat {
    color: #94368D;
}

.solid.red {
    background-color: #CF3642;
    color: white;
}

.solid.red:hover {
    background-color: #BA313B;
    cursor: pointer;
}

.solid.red:active {
    background-color: #A62B35;
}

.outline.red {
    border-color: #CF3642;
    color: #CF3642;
}

.outline.red:hover {
    border: 1px solid #E79BA1;
    color: #CF3642;
    cursor: pointer;
}

.outline.red:active {
    border: 1px solid #F1C3C6;
    color: #CF3642;
}

.flat.red {
    color: #CF3642;
}

.flat.red:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.flat.red:active {
    background-color: #FFFFFF;
}

/* violet */
.solid.violet {
    background-color: #94368D;
    color: white;
}

.solid.violet:hover {
    background-color: #85317F;
    cursor: pointer;
}

.solid.violet:active {
    background-color: #762B71;
}

.outline.violet {
    border: 1px solid #94368D;
    color: #94368D;
}

.outline.violet:hover {
    border: 1px solid #CA9BC6;
    color: #94368D;
}

.outline.violet:active {
    border: 1px solid #DFC3DD;
    color: #762B71;
}

.flat.violet {
    background: none;
    color: #94368D;
}

.flat.violet:hover {
    background: #FFFFFF;
    cursor: pointer;
}

.flat.violet:active {
    background: #FFFFFF;
}

/* yellow */
.solid.yellow {
    background-color: #FFB71B;
    color: #0F0F0F;
}

.solid.yellow:hover {
    background-color: #E6A518;
    cursor: pointer;
}

.solid.yellow:active {
    background-color: #CC9216;
}

/* black */
.outline.black {
    border: 1px solid #0F0F0F;
    color: #0F0F0F;
}

.outline.black:hover {
    border: 1px solid #C2C2C2;
}

.outline.black:active {
    border: 1px solid #DBDBDB;
}

.flat.black {
    color: #292929;
}

.flat.black:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.flat.black:active {
    background-color: #FFFFFF;
}

/* white */
.solid.white {
    background-color: #FFFFFF;
    color: #0F0F0F;
}

.solid.white:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.solid.white:active {
    background-color: #DBDBDB;
}

.outline.white {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.outline.white:hover {
    border: 1px solid #C2C2C2;
    cursor: pointer;
}

.outline.white:active {
    border: 1px solid #DBDBDB;
}

.flat.white {
    color: #FFFFFF;
}

.flat.white:hover {
    background-color: #424242;
    cursor: pointer;
}

.flat.white:active {
    background-color: #292929;
}

/* green */

.solid.green {
    background-color: #00AF9E;
    color: #FFFFFF;
}

.solid.green:hover {
    background-color: #009E8E;
    cursor: pointer;
}

.solid.green:active {
    background-color: #008C7E;
}

.outline.green {
    border: 1px solid #00AF9E;
    color: #00AF9E;
}

.outline.green:hover {
    border: 1px solid #80D7CF;
    cursor: pointer;
}

.outline.green:active {
    border: 1px solid #B3E7E2;
}

.flat.green {
    color: #00AF9E;
}

.flat.green:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.flat.green:active {
    background-color: #FFFFFF;
}
