.title{
    border-bottom: 1px solid #F5F5F5;
    width: 400px;
    font-size:21px;
    font-weight: 400;
}
.content{
    width: 400px;
    font-size: 16px;
    color: #292929;
}

.list {
    background-color: #FFFFFF;
    border-radius: 32px;
}