/*
A:link	Определяет стиль для обычной непосещенной ссылки.
A:active	Определяет стиль для активной ссылки. Активной ссылка становится при нажатии на нее.
A:hover	Определяет стиль для ссылки при наведении на нее мышью. 
*/
.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*min-width: 85px; !*todo*!*/
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #DBDBDB;
    /* line-height: 20px; */
}
.link:hover {
    cursor: pointer;
    /* line-height: 24px; */

}
/*.link:active {*/
/*    font-size: 20px;*/
/*    !* line-height: 30px; *!*/
/*}*/

.none_border{
    border-bottom: none !important;
}
.black {
    color: #0F0F0F;
    border-bottom: 1px solid #DBDBDB;
}
.black:hover {
    border-bottom: 1px solid #A8A8A8;
}

.blue {
    color: #1B63FF;
    border-bottom: 1px solid #B3CAFE;color: #1B63FF;
}

.blue div svg path {
  stroke: #1B63FF;
}

.blue:hover {
    border-bottom: 1px solid #3E7AFC;
}

.violet {
    color: #94368D;
    border-bottom: 1px solid #DFC3DD;
}

.violet div svg path {
  stroke: #94368D;
}

.violet:hover {
    border-bottom: 1px solid #B472AF;
}

.white {
    color: #FFF;
    border-bottom: 1px solid #DBDBDB;
}

.white div svg path {
  stroke: #FFF;
}

.white:hover {
    border-bottom: 1px solid #A8A8A8;
}

.s {
  font-size: 14px;
}
.m {
  font-size: 16px;
}
.l {
  font-size: 20px;
}

.icon {
  display: flex;
}

.mr {
  margin-right: 7px;
}

.ml {
  margin-left: 7px;
}
