.input {
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #c2c2c2;
  box-sizing: border-box;
  font-weight: 400;
}
.label {
    display: flex;
    flex-direction: column;
}
.xl {
  min-width: 279px;
  height: 64px;
}

.l {
  min-width: 279px;
  height: 56px;
}

.m {
  min-width: 279px;
  height: 48px;
  padding: 12px 16px;
}
.s {
  min-width: 279px;
  height: 40px;
  padding: 8px 16px;
}

input:hover{
    border: 1px solid #B472AF;
}

.filled{
    border: 1px solid #CA9BC6;
    color: black;
}

input .text-error{
    border: 1px solid #CF3642;
}

p .text-error {
    color: #CF3642;
}

.xl input {
  font-size: 16px;
  line-height: 24px;
}
.l input {
  font-size: 16px;
  line-height: 24px;
}
.m input {
  font-size: 16px;
  line-height: 24px;
}
.s input {
  font-size: 14px;
  line-height: 20px;
}
.input::placeholder {
color:#424242;
}
.input::content{
  border: 1px solid #757575;
  color:#0F0F0F;
}